@import "../../assets/color.scss";

.wrapper{
  height: 100%;
  background-color: $color-white;
}

.mat-spacer{
  flex: 1 1 auto;
}

a{
  text-decoration: none;
      color: $color-white;
}

mat-toolbar{
  background-color: $theme-colors;
  .logo {
    font-size: 28pt;
    font-style: oblique;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: $color-white;
  }
  text-transform: capitalize;
  .menu{
    button{
      margin-bottom: 5px;
    }
  }
}

.pointer{
  cursor: not-allowed;
}
.disabled {
  pointer-events:none;
  opacity:.5;
 }
