<div class="wrapper fixed">
  <div class="container-fluid p-0">
    <mat-toolbar class="container mx-auto p-0" >
      <mat-toolbar-row [ngClass]="{'pointer': pointer}">
        <span class="logo ml-0"><a routerLink="/" [ngClass]="{'pointer': pointer}">RQS</a></span>
        <span class="mat-spacer"></span>
          <span class="">
          <a class="navbar-brand" [matMenuTriggerFor]="menu" [ngClass]="{ 'disabled' : menuFlag }" >
            <img src="/assets/images/avtar.png" width="35" height="35" alt="">
          </a>
          <mat-menu #menu="matMenu" class="menu mt-1 p-1">
            <button mat-menu-item type="button" routerLink="profile">
              <mat-icon>account_box</mat-icon>
              Profile
            </button>
            <button mat-menu-item type="button" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </span>
        <span class="profile text-light">{{user.firstname +" "+ user.lastname | titlecase }}</span>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="main container p-0">
    <router-outlet></router-outlet>
  </div>
</div>
