<div class="main">
  <div class="container-fluid">
      <ng-container *ngIf="card">
        <mat-card class="wrap-login">
          <img
            class="img-fluid"
            [src]="i18N.labels.loginLogo"
          />
          <mat-card-content>
            <form [formGroup]="resetForm" class="login-form">
              <mat-form-field class="wrap-input">
                <input
                  matInput
                  class="input"
                  placeholder="{{ i18N.placeholder.password }}"
                  formControlName="password"
                  required
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  (mouseenter)="enter()"
                  (mouseleave)="leave()"
                >
                  <mat-icon>{{ hide ? visibilityOff : visibility }}</mat-icon>
                </button>
                <mat-error *ngIf="form.password.errors">
                  <ng-container
                    *ngIf="form.password.dirty || form.password.touched"
                    class="text-danger"
                  >
                    <p *ngIf="form.password.errors.required">
                      {{ i18N.messages.requireField("password") }}
                    </p>
                    <p
                      class="m-0"
                      *ngIf="form.password.errors.passwordStrength"
                    >
                      {{ form.password.errors["passwordStrength"] }}
                    </p>
                    <p class="m-0" *ngIf="form.password.hasError('minlength')">
                      {{ i18N.messages.minCharaters }}
                    </p>
                  </ng-container>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="wrap-input">
                <input
                  type="password"
                  class="input"
                  matInput
                  placeholder="{{ i18N.placeholder.confirmPassword }}"
                  formControlName="confirmPassword"
                  name="confirmPassword"
                  required
                  [type]="hide ? 'password' : 'text'"
                />
                <mat-error *ngIf="form.confirmPassword.errors">
                  <ng-container
                    *ngIf="
                      form.confirmPassword.dirty || form.confirmPassword.touched
                    "
                    class="text-danger"
                  >
                    <p *ngIf="form.confirmPassword.errors.required">
                      {{ i18N.messages.requireField("Confirm Password") }}
                    </p>
                    <p *ngIf="form.confirmPassword.errors.mustMatch">
                      {{ i18N.messages.confirmPassword("Confirm Password") }}
                    </p>
                  </ng-container>
                </mat-error>
              </mat-form-field>

              <mat-card-actions class="form-btn">
                <button
                type="submit"
                  mat-button
                  class="w-100 btn-login"
                  (click)="changePassword()"
                  [disabled]="
                    !resetForm.valid || this.showError || this.showResponse
                  "
                >
                  {{ i18N.labels.resetPwd }}
                </button>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </mat-card>
      </ng-container>
  </div>
</div>
