@import "../../../assets/color.scss";

.quiz-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

::ng-deep.quiz-radio-button {
  margin: 5px;
  .mat-radio-label {
    white-space: normal !important;
  }

}

.mat-progress-bar.mat-progress-bar-fill {
  transition-duration: 100ms !important;
}
.btn-submit{
  border-radius: 50px;
  background-color: $btn-submit;
  color: $color-white;
  margin-top: 25px;
  text-align: center;
}
mat-card-content{
  min-height: 300px;
}
mat-card-footer{
  margin-top: 20px;
  button {
    border-radius: 50px;
  }
}

.btn-submit{
  border-radius: 50px;
  background-color: $btn-submit;
  color: $color-white;
  margin-top: 25px;
  text-align: center;
}
mat-card-content{
  min-height: 300px;
}
mat-card-footer{
  margin-top: 20px;
  button {
    border-radius: 50px;
    outline: none;
  }
}

.btn-submit{
  border-radius: 50px;
  background-color: $theme-colors;
  color: $color-white;
  margin-top: 25px;
  text-align: center;
  min-width: 20% !important;
}
mat-card-content{
  min-height: 300px;
}
mat-card-footer{
  margin-top: 20px;
  button {
    border-radius: 50px;
  }
}
.title{
  text-transform: lowercase;
}

.title::first-letter{
text-transform: capitalize;
}

mat-progress-bar{
  display: block;
  height: 20px !important;
  border-radius: 100px !important;
}

.progressBar{
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.bar{
  position: absolute;
  padding: 39%;
  color:$color-black;
}
