<div *ngIf="backgroundFlag">
<div class="row p-2 mt-3 mx-auto">
  <div class="col"  ><mat-card-title class="title">{{ data.title | titlecase }}</mat-card-title></div>
  <div class="col text-right" *ngIf="duration">
    <h3>
      <countdown
        #countdown
        [config]='config'
        (event)="timesEvents($event)"
      ></countdown>
    </h3>
  </div>
</div>
<section class="progressBar">
  <mat-progress-bar  mode="determinate" [value]="progressBarValue">
  </mat-progress-bar>
  <div class="bar" > {{noAnswers}}/{{noQuestion}} </div>
</section>
  <div class="container">
    <mat-card class="quiz-card  w-100">
      <mat-card-content>
        <mat-label class="mb-1 font-weight-bold">
          {{ this.i + 1 }}. {{ question?.title }}
        </mat-label>
        <mat-radio-group
          class="quiz-radio-group "
          [(ngModel)]="selectedOption"
          name="selectedOption"
          *ngFor="let opt of question?.options; index as index"
        ><span>{{share.alpha(index)}}.  <mat-radio-button class="quiz-radio-button" [value]="opt.text">
          {{ opt.text }}
        </mat-radio-button></span>

        </mat-radio-group>
      </mat-card-content>
      <mat-card-footer>
        <button
          mat-button
          color="primary"
          class="w-25 ml-2 mb-2"
          (click)="previous()"
          [disabled]="this.i < 1"
        >
          <mat-icon>keyboard_arrow_left</mat-icon
          ><b>{{ i18N.labels.previousBtn }}</b>
        </button>
        <button
          mat-button
          color="accent"
          class="w-25 float-right mr-5 mb-2 text-success"
          (click)="next()"
          [hidden]="
            !(this.i === this.data.questions?.length - 1 || selectedOption) ||
            this.i === this.data.questions?.length - 1
          "
        >
          <b>{{ i18N.labels.savenextBtn }}</b
          ><mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button
          mat-button
          class="w-25 float-right mr-4 mb-2 text-success"
          (click)="next()"
          [hidden]="
            this.i === this.data.questions?.length - 1 || selectedOption
          "
        >
          <b> {{ i18N.labels.nextBtn }}</b
          ><mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button
          mat-button
          color="accent"
          class="w-25 float-right mr-4 mb-2 text-success"
          style="outline: none;"
          (click)="next()"
          [hidden]="this.i < this.data.questions?.length - 1 || !selectedOption"
        >
          <b> {{ i18N.labels.saveBtn }}</b>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="container" align="center">
    <button mat-button (click)="submit()" class="btn-submit">
      {{ i18N.labels.submitBtn }}
    </button>
  </div>
</div>
