<div class="main">
  <div class="container-fluid">
    <mat-card class="wrap-login">
      <img
        class="img-fluid"
        [src]="i18N.labels.loginLogo"
        alt="{{ i18N.labels.altText }}"
      />
      <mat-card-content>
      <form [formGroup]="loginForm" class="login-form">
        <mat-form-field class="wrap-input">
          <input
            matInput
            placeholder="{{ i18N.placeholder.email }}"
            formControlName="email"
            required
            class="input"
          />
          <mat-error *ngIf="form.email.errors">
            <ng-container
              *ngIf="form.email.dirty || form.email.touched"
              class="text-danger"
            >
              <p *ngIf="form.email.errors?.required">
                {{ i18N.messages.requireField("Email") }}
              </p>
              <p *ngIf="form.email.errors?.pattern">
                {{ i18N.messages.invalidField("Email") }}
              </p>
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="wrap-input">
          <input
            matInput
            placeholder="{{ i18N.placeholder.password }}"
            formControlName="password"
            required
            [type]="hide ? i18N.type.password : i18N.type.text"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            (mouseenter)="enter()"
            (mouseleave)='leave()'
            (click)="hide = !hide"
          >
          <mat-icon>{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          </button>
          <mat-error *ngIf="form.password.errors">
            <ng-container
              *ngIf="form.password.dirty || form.password.touched"
              class="text-danger"
            >
              <p *ngIf="form.password.errors?.required">
                {{ i18N.messages.requireField("password") }}
              </p>
              <p *ngIf="form.password.errors?.minlength">
                {{ i18N.messages.minCharaters}}
              </p>
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-card-actions class="form-btn">
          <button
            mat-button
            type="submit"
            class=" w-100 btn-login"
            (click)="login()"
            [disabled]="
              !loginForm.valid || (!this.showResponse && this.showError)
            "
          >
            {{ i18N.labels.loginBtn }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
      <mat-card-footer class="mb-3">
        <p class="text-center">
          <a routerLink="/register" class="text-primary"
            >{{ i18N.labels.registerNow }} </a
          >&nbsp;
          <a routerLink="/forgot-password" class="text-primary">{{
            i18N.labels.forgotBtn
          }}</a>
        </p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

