@import "../../assets/color.scss";
.main {
  // background-image: url("../../assets/images/image1.png");
  background: linear-gradient(rgba(0,128,128,.9) ),  url("../../assets/images/image1.png");
  overflow-y: auto;
  height: 100% !important;
}
.container-fluid {
  overflow-y: auto;
  height: 100% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: none;
}

.wrap-login {
  width: 350px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px 35px 15px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.container-fluid > .container-login:not(.wrap-login){
  opacity: 1.0;
}

.login-form {
  width: 100%;
}

.wrap-input {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}

.form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.btn-login {
  background: $button-color;
  font-size: 14pt;
  color: $color-white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.btn-login:disabled {
  background-color: $diable;
}

mat-card-footer {
  a {
    text-decoration: none !important;
  }
}

a:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .wrap-login {
    padding: 10px 15px 10px 15px;
  }
}
