<div class="container" align="center">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
      <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" class="search-control mt-2 w-100">
          <mat-label>{{ i18N.messages.searchMessage }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="searchInput"
            (keyup)="fillter()"
            placeholder="{{ i18N.messages.searchMessage }}"
          />
          <mat-icon *ngIf="searchForm.pristine" matSuffix>search</mat-icon>
          <button *ngIf="!searchForm.pristine" (click)="clear()" matSuffix><mat-icon matSuffix>close</mat-icon></button>

        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<div *ngIf="quizData" class="quizCards  mb-1 pl-3 pr-3 pt-3 pb-3">
  <div class="row card-content ">
    <a
      *ngFor="let quiz of quizData | async"
      title="{{ quiz.title }}"
      (click)="isChecked(quiz.status, quiz.result, quiz)"
      class="cards col-md-4 mt-1"
    >
      <mat-card>
        <mat-card-title class="font-small">
          <div *ngIf="quiz.result" class="row">
            <div
              [ngClass]="{
                'text-success': quiz.result === i18N.result.pass,
                'text-danger': quiz.result === i18N.result.fail
              }"
              class="col  text-left"
            >
              <p>
                {{ quiz.result }}
              </p>
            </div>

            <div
              [ngClass]="{
                'text-success': quiz.status === i18N.quizStatus.created,
                'text-danger': quiz.status === i18N.quizStatus.expired
              }"
              class="col  text-right"
            >
              <p>
                {{ quiz.status }}
              </p>
            </div>
          </div>
          <div *ngIf="!quiz.result" class="row">
            <p
              [ngClass]="{
                'text-success': quiz.status === i18N.quizStatus.created,
                'text-danger': quiz.status === i18N.quizStatus.expired
              }"
              class="col text-right"
            >
              {{ quiz.status }}
            </p>
          </div>
        </mat-card-title>
        <mat-card-content class="mb-3">
          <h5>{{ quiz.title | titlecase}}</h5>
        </mat-card-content>
        <mat-card-footer class="mt-2 p-1 bg-light">
          <p
            class="pl-2 pr-2 mt-2  row"
            *ngIf="quiz.status === i18N.quizStatus.created && !quiz.result"
          >
            <span class=" text-left col"> Durartion: {{ quiz.duration + " " + i18N.labels.minutes}} </span>
             <span class=" text-right float-right col"
              >Expire In: {{ quiz.endDate }}
            </span>
          </p>

          <p
            class="pl-2 pr-2 mt-2 row"
            *ngIf="quiz.status === i18N.quizStatus.expired && !quiz.result"
          >
            <span class="text-left col">
              {{i18N.messages.notAttempted}}
            </span>
          </p>
          <p
            class="pl-2 pr-2 mt-2 row"
            *ngIf="quiz.status === i18N.quizStatus.expired && quiz.result"
          >
          <span class=" text-left  col"> Score: {{ quiz.userScore }} </span>
          <span class=" text-right float-right col"
            >Percentage : {{ quiz.userPercentage + "%" }}
          </span>
          </p>
          <p
            class="pl-2 pr-2 mt-2  row"
            *ngIf="quiz.status === i18N.quizStatus.created && quiz.result"
          >
            <span class=" text-left  col"> Score: {{ quiz.userScore }} </span>
            <span class=" text-right float-right col"
              >Percentage : {{ quiz.userPercentage + "%" }}
            </span>
          </p>
        </mat-card-footer>
      </mat-card>
    </a>
  </div>
</div>
<div *ngIf=" noRecord"  class="quizCards  mb-1 pl-3 pr-3 pt-3 pb-3">
  <h2 class="text-center"> No records available</h2>
</div>

<div class="container p-0 fixed-bottom">
  <mat-paginator
    class="w-100 "
    [length]="totalrecords"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    [hidePageSize]="hideOptions"
    (page)="pageEvent = pageSizeChange($event)"
  ></mat-paginator>
</div>
