@import "../../../assets/color.scss";

.search-control {
  border-radius: 50px;
  font-size: 12pt;
}

.cards {
  margin-bottom: 5px;
  mat-card {
    border-radius: 0px;
  }
  mat-card:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    z-index: 2;
  }
  mat-card-title {
    font-size: 12pt;
  }
  text-decoration: none;
  cursor: pointer;
  &:not(:nth-last-child(1)) {
    margin-bottom: 35px;
  }
  mat-card-footer {
    color: $dark-gray;
    font-size: small;
    font-weight: bold;
  }
}

.mat-spacer {
  flex: 1 1 auto;
}
.quizCards {
  margin-top: 10px;
  overflow: hidden;
}

.card-content {
  max-height: calc(100vh) !important;
  overflow-y: visible;
  overflow-x: hidden;
}

.pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.mat-spacer {
  flex: 1 1 auto;
}

.fixed-bottom{
  z-index: 2;
}

@media only screen and (min-width: 1024px)and(max-width: 2560px){
  .card-content {
    max-height: 75vh !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
