@import "../../../assets/color.scss";
.container {
  height: 100vh !important;
  mat-card {
    height: 80vh;
    overflow-y: auto;
    box-shadow: lightcyan;
    border: 0px;
  }
  .icon {
    mat-icon {
      font-size: 14pt;
      top: 25px;
    }
  }
  .mat-spacer {
    flex: 1 1 auto;
  }

  .options {
    border-radius: 20px;
    padding: 10px;
    font-size: 16pt;
  }

  .back-btn {
    bottom: 0;
    left: 0;
    right: 0;
    a {
      border-radius: 20px !important;
      text-decoration: none;
      cursor: pointer;
      background-color: $theme-colors;
      color: $color-white;
    }
  }
}

@media (max-width: 576px) {
  mat-card {
    margin-top: 30px !important;
    max-height: calc(65vh);
    overflow-y: auto;
  }
}

@media (min-width: 577px) and (max-width: 1400px) {
  mat-card {
    margin-top: 30px !important;
    max-height: calc(70vh);
    overflow-y: auto;
  }
}
