<div class="container">
  <h2 class="text-left mb-2 mt-2 p-2">{{ title | titlecase }}</h2>
  <mat-card class="m-auto">
    <div *ngFor="let dt of data; index as index">
      <mat-card-title class="question">
        {{ index + 1 }}. {{ dt.title }}
      </mat-card-title>
      <mat-card-content class="">
        <div class="d-flex mt-3 p-1 bg-light options" *ngFor="let opt of dt.options; index as index">
          <div class="ml-1 my-auto p-auto"><mat-label >{{ share.alpha(index)  }}. </mat-label></div>
          <div class="ml-1 p-auto"><mat-label [ngClass]="{'text-success': opt.isCorrect,'text-danger': opt.userSelected && !opt.isCorrect }">
            {{ opt.text }}
          </mat-label></div>
          <div class="mat-spacer p-auto"></div>
          <div class="icon float-right mr-1 my-auto p-auto"><mat-icon *ngIf="opt.userSelected">person</mat-icon></div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
  <div class="w-100 fixed-bottom back-btn mt-1 mb-3" align="center">
    <a mat-button class="btn-submit" routerLink="/">
      {{ i18N.labels.back }}
    </a>
  </div>
</div>
