<div class="main">
  <div class="container-fluid">
      <mat-card class="wrap-login">
        <img class="img-fluid" [src]="i18N.labels.loginLogo" />
        <mat-card-title class="text-center">
          <h5>Forgot Your password</h5>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="forgotForm" class="login-form mt-3">
            <mat-form-field class="wrap-input">
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                required
                class="input"
              />
              <mat-error *ngIf="form.email.errors">
                <ng-container
                  *ngIf="form.email.dirty || form.email.touched"
                  class="text-danger"
                >
                  <p *ngIf="form.email.errors?.required">
                    {{ i18N.messages.requireField("Email") }}
                  </p>
                  <p *ngIf="form.email.errors?.pattern">
                    {{ i18N.messages.invalidField("Email") }}
                  </p>
                </ng-container>
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="form-btn">
              <button
                mat-button
                type="submit"
                class=" w-100 btn-login"
                (click)="forgotPassword()"
                [disabled]="
                  !form.email.valid || (!this.showResponse && this.showError)
                "
              >
                {{ i18N.labels.forgotBtn }}
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
        <mat-card-footer class="mb-3">
          <p class="text-center">
            <a routerLink="/login" class="text-primary">{{
              i18N.labels.loginBtn
            }}</a>
          </p>
        </mat-card-footer>
      </mat-card>
  </div>
</div>
