<div *ngIf="data.isdata">
  <a class="close float-right" (click)="close()">
    <mat-icon>highlight_off</mat-icon>
  </a>
  <br/>
  <div class="title inline">
    <h2 class="float-left" mat-dialog-title>{{i18N.instruction.title | titlecase }}: &nbsp;</h2> <h2 mat-dialog-title>{{data.title | titlecase }}</h2>
  </div>
  <mat-dialog-content>
    <div>
         <p>{{data.description}}</p>
    </div>
    <div>
      <p mat-dialog-title>{{ i18N.instruction.instro }}</p>
    <ul>
      <li class="mb-2" *ngFor="let points of i18N.instruction.points(data.duration)">
        {{ points.text }}
      </li>
    </ul>
    </div>
  </mat-dialog-content>
  <button mat-raised-button color="primary" class="mt-5" (click)="startQuiz(data.id)">
      Start Quiz
  </button>
</div>
<div *ngIf="!data.isdata">
<a class="close float-right" (click)="closeModel()">
    <mat-icon>highlight_off</mat-icon>
  </a>
  <br />
  <div class="blank">
    <b>{{ data.msg }}</b>
  </div>
  <mat-dialog-actions>
    <div class="container" align="center">
      <button
        mat-raised-button
        color="primary"
        [autofocus]="false"
        (click)="closeModel()"
      >
        {{ i18N.labels.okBtn }}
      </button>
    </div>
  </mat-dialog-actions>
</div>

