$color-red: #ff3333;
$color-green: #6bff33;
$color-blue: #4285f4;
$color-gray: #666666;
$color-white: #ffff;
$color-cream: #ffc56c;
$color-black:#000;
// colors for gray shades
$gray: #666;
$medium-gray: #555;
$dark-gray: #424242;
$darker-gray: #333;
$darkest-gray: #222;
$darker-darkest-gray: #111;

// theme color
$theme-colors: #008080;

// color for theme button

$button-color: #008080;
$error-color: #c32727;
$res-color: #00B200;

$warning: #FDD835;
$success: #00C853;
$error:#c32727;
$diable:#dddddd;
$btn-submit: #ffae42;

// color for Progress Bar

$buffer-background: #eee;
$fill-background: #ffae42

