/* You can add global styles to this file, and also import other style files */
@import "assets/color.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  background-color: $theme-colors;
  overflow: hidden;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-colors;
}

.res {
  background-color: $res-color;
  color: #fff;
  padding: 20px;
  font-size: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.err {
  background-color: $error-color;
  color: #fff;
  padding: 20px;
  font-size: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.res {
  background-color: $res-color;
  color: #fff;
  padding: 20px;
  font-size: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.err {
  background-color: $error-color;
  color: #fff;
  padding: 20px;
  font-size: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.dialog {
  max-width: 30%;
  max-height: 80%;
  scroll-behavior: auto;
}

button:focus {
  outline: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:$theme-colors;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{

  background-color:$theme-colors;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:$theme-colors;
}
.mat-raised-button.mat-primary {
  background-color: $theme-colors !important;
}

.mat-progress-bar-buffer {
  background-color: $buffer-background !important;
}
.mat-progress-bar-fill::after {
  background-color: $fill-background !important;
  opacity: 0.7;
}

.success{
  display: flex !important;
  margin-top: 100px !important;
  font-size: 24pt !important;
  min-height: 50px !important;
  max-width: 10px !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: $success;
  font-weight: bold;
  color: $darker-darkest-gray !important;
  .mat-button-wrapper{
    color: $darker-darkest-gray;
  }
  text-transform: lowercase;
  ::first-letter{
    text-transform: capitalize;
  }
}

.warning{
  display: flex !important;
  margin-top: 100px !important;
  font-size: 24pt !important;
  min-height: 50px !important;
  max-width: 10px !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: $warning;
  font-weight: bold;
  color: $darker-darkest-gray;
  .mat-button-wrapper{
    color: $darker-darkest-gray;
  }
  text-transform: lowercase;
  ::first-letter{
    text-transform: capitalize;
  }
}

.danger{
  display: flex !important;
  margin-top: 100px !important;
  font-size: 24pt !important;
  min-height: 50px !important;
  max-width: 10px !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: $error;
  font-weight: bold;
  color: $darker-darkest-gray !important;
  .mat-button-wrapper{
    color: $darker-darkest-gray;
  }
  text-transform: lowercase;
  ::first-letter{
    text-transform: capitalize;
  }
}


@media (max-width: 576px) {
  .success,
  .danger,
  .warning {
    margin-top: 140px !important;
    max-width: 100% !important;
  }
}
