<div *ngIf="data.isforResult">
  <div  class="text-right" >
    <a (click)="close()">
      <mat-icon>highlight_off</mat-icon>
    </a>
  </div>
  <div class="text-center" style="margin-top: 20px;">
    <h1 mat-dialog-title>{{ i18N.labels.quizResult }}</h1>
  </div>
  <mat-dialog-content>
    <b>
      <p  [ngClass]="{
                'text-success': data.result === i18N.result.pass,
                'text-danger': data.result === i18N.result.fail
              }">{{ i18N.labels.result }} : {{ data.result }}</p>
      <p>{{ i18N.labels.score }} : {{ data.userScore }}</p>
      <p>{{ i18N.labels.percentage }} : {{ data.userPercentage }}</p>
    </b>
  </mat-dialog-content>
  <div class="container" align="center" style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="close()">
      {{ i18N.labels.doneBtn }}
    </button>
  </div>
</div>

<div *ngIf="!data.isforResult">
  <a class="close float-right" (click)="submit(false)">
    <mat-icon>highlight_off</mat-icon>
  </a>
  <br />
  <div style="text-align: center;margin-top: 20px;">
    <b>{{ i18N.messages.submitAlert }}</b>
  </div>
  <mat-dialog-actions>
    <div class="container" align="center" style="margin-top: 20px;" >
      <button
        mat-raised-button
        color="primary"
        [autofocus]="false"
        (click)="submit(true)"
      >
        {{ i18N.labels.yesBtn }}
      </button>
      <button
        mat-raised-button
        color="primary"
        [autofocus]="false"
        (click)="submit(false)"
      >
        {{ i18N.labels.noBtn }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
