<div class="main">
  <div class="container-fluid">
      <mat-card class="wrap-login">
        <img
          class="img-fluid"
          [src]="i18N.labels.loginLogo"
          alt="Photo logo.png"
        />
        <mat-card-content>
          <form [formGroup]="registerForm" class="login-form">
            <mat-form-field class="wrap-input ">
              <input
                type="text"
                matInput
                placeholder="{{ i18N.placeholder.firstName }}"
                formControlName="firstname"
                name="firstname"
                required
                class="input"
              />
              <mat-error *ngIf="form.firstname.errors">
                <ng-container
                  *ngIf="form.firstname.dirty || form.firstname.touched"
                  class="text-danger"
                >
                  <p *ngIf="form.firstname.errors.required">
                    {{ i18N.messages.requireField("FirstName") }}
                  </p>
                </ng-container>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="wrap-input">
              <input
                type="text"
                matInput
                placeholder="{{ i18N.placeholder.lastName }}"
                formControlName="lastname"
                name="lastname"
                class="input"
              />
            </mat-form-field>
            <mat-form-field class="wrap-input">
              <input
                type="text"
                matInput
                placeholder="{{ i18N.placeholder.email }}"
                formControlName="email"
                name="email"
                required
                class="input"
              />
              <mat-error *ngIf="form.email.errors">
                <ng-container
                  *ngIf="form.email.dirty || form.email.touched"
                  class="text-danger"
                >
                  <p *ngIf="form.email.errors.required">
                    {{ i18N.messages.requireField("Email") }}
                  </p>
                  <p *ngIf="form.email.errors.pattern">
                    {{ i18N.messages.invalidField("Email") }}
                  </p>
                </ng-container>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="wrap-input">
              <input
                matInput
                placeholder="{{ i18N.placeholder.password }}"
                formControlName="password"
                required
                [type]="hide ? 'password' : 'text'"
                class="input"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                (mouseenter)="enter()"
                (mouseleave)="leave()"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="form.password.errors">
                <ng-container
                  *ngIf="form.password.dirty || form.password.touched"
                  class="text-danger"
                >
                  <p *ngIf="form.password.errors.required">
                    {{ i18N.messages.requireField("password") }}
                  </p>
                  <p class="m-0" *ngIf="form.password.errors.passwordStrength">
                    {{ form.password.errors["passwordStrength"] }}
                  </p>
                  <p *ngIf="form.password.hasError('minlength')">
                    {{ "min 8 character" }}
                  </p>
                </ng-container>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="wrap-input">
              <input
                type="password"
                matInput
                placeholder="{{ i18N.placeholder.confirmPassword }}"
                formControlName="confirmPassword"
                name="confirmPassword"
                required
                [type]="hide ? 'password' : 'text'"
                class="input"
              />
              <mat-error *ngIf="form.confirmPassword.errors">
                <ng-container
                  *ngIf="
                    form.confirmPassword.dirty || form.confirmPassword.touched
                  "
                  class="text-danger"
                >
                  <p *ngIf="form.confirmPassword.errors.required">
                    {{ i18N.messages.requireField("ConfirmPassword") }}
                  </p>
                  <p *ngIf="form.confirmPassword.errors.mustMatch">
                    {{ i18N.messages.confirmPassword("Confirm") }}
                  </p>
                </ng-container>
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="form-btn">
              <button
              type="submit"
                mat-button
                class="w-100 btn-login"
                (click)="register(registerForm)"
                [disabled]="
                  !registerForm.valid || this.showError || this.showResponse
                "
              >
                {{ i18N.labels.registerBtn }}
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
        <mat-card-footer class="mb-3">
          <p class="text-center p-1">
            <a routerLink="/login" routerLinkActive="router-link-active">{{
              i18N.labels.alreadyRegister + " " + i18N.labels.loginNow
            }}</a>
          </p>
        </mat-card-footer>
      </mat-card>
  </div>
</div>
